.footer {
  position: relative;
  background-color: var(--azul-background);
  width: 100vw;
  min-height: 43rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 3.125rem;
  gap: 3.125rem;
  box-shadow: 0 -2px 5px 5px rgba(0, 0, 0, 0.2);
}

.logo-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo-footer img {
  width: 100%;
  height: auto;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.footer-menu h1 {
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
}

.footer-menu h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 3.125rem;
  height: 2px;
  background: #ffffff;
  background: linear-gradient(
    269deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(242, 163, 55, 1) 50%,
    rgba(248, 150, 50, 1) 100%
  );
  box-sizing: border-box;
}

.footer-cta {
  width: 100%;
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.footer-cta a {
  font-size: 1rem;
}

.footer-cta a:hover {
  color: white;
}

.footer-copy {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copy a{
  color: rgba(255, 255, 255, 0.3);
}

.footer-copy a:hover {
  color: white;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .footer {
    min-height: 30rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px 5rem 1rem 5rem;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .logo-footer img {
    width: 100%;
    height: auto;
  }
  .footer-menu {
    align-items: start;
    justify-items: start;
    text-align: start;
  }

  .footer-menu h1 {
    align-self: start;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .footer-menu h1::before {
    width: 4.5rem;
  }

  .footer-cta a {
    font-size: 1.2rem;
  }

  .footer-copy {
    align-self: center;

    font-size: 1.2rem;

    /* Esta é a linha importante */
    grid-column: 1 / -1;

    /* Garantir centralização e estilo */
    justify-content: center;
    text-align: center;

    place-self: end center;
  }
}
