.programacao {
  background-color: var(--azul-background);
  position: relative;
}

.forum-programacao {
  padding: 10rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forum-programacao .destaque {
  font-size: 2.5rem;
}

.forum-programacao #programacao-titulo {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 20px;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.bloco-programacao .titulo-bloco {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 20px;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.custom-shape-divider-top-1753206874 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1753206874 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1753206874 .shape-fill {
  fill: var(--laranja);
}

@media (min-width: 1024px) {
  .programacao {
    background-color: var(--azul-background);
    background-image: url("../assets/background/background-2.png");
    background-position: center;
    background-size: contain;
  }

  .forum-programacao {
    background-color: var(--azul-background);
    width: 60%;
    justify-self: center;
    border-left: 5px solid var(--laranja);
    border-right: 5px solid var(--laranja);
  }
}
